#textdomain wesnoth-LC
# This version forked from 1.2, 2/10/2007, and prepared for mainline by ESR
[textdomain]
    name="wesnoth-LC"
[/textdomain]

# wmlscope: set export=no
[campaign]
    id=Liberty_Classic
    name= _ "Liberty Classic"
    abbrev= _ "LC"
    rank=110
    first_scenario=01_The_Raid

    define=CAMPAIGN_LIBERTY_CLASSIC

    {CAMPAIGN_DIFFICULTY EASY   "units/human-peasants/peasant.png~RC(magenta>red)" ( _ "Peasant") ( _ "Easy")}
    {CAMPAIGN_DIFFICULTY NORMAL "units/human-outlaws/outlaw.png~RC(magenta>red)" ( _ "Outlaw") ( _ "Normal")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD   "units/human-outlaws/fugitive.png~RC(magenta>red)" ( _ "Fugitive") ( _ "Challenging")}
    
    icon="units/human-outlaws/fugitive.png~RC(magenta>red)"
    image="data/add-ons/Liberty_Classic/images/campaign_image.png"
    #po: Yes, that is "marchlanders", not "marshlanders".
    #po: "marchlander" is archaic English for an inhabitant of a border region.
    # wmllint: local spelling marchlanders
    description= _ "As the shadow of civil war lengthens across Wesnoth, a band of hardy marchlanders revolts against the tyranny of Queen Asheviere. To win their way to freedom, they must defeat not just the trained blades of Wesnothian troops but darker foes including orcs and undead.

" + _"(Intermediate level, 8 scenarios.)"

    [about]
        title = _ "Campaign Design"
        [entry]
            name = "Scott Klempner"
        [/entry]
    [/about]
    [about]
        title = _ "Prose-doctoring and preparation for mainline"
        [entry]
            name = "Eric S. Raymond (ESR)"
        [/entry]
    [/about]
    [about]
        title = _ "Campaign Maintenance"
        [entry]
            name = "Hubert Grzywa (HolyPaladin)"
            comment = "current maintainer"
        [/entry]
    [/about]
    [about]
        title = _ "Artwork and Graphics Design"
        [entry]
            name = "Brendan Sellner"
        [/entry]
        [entry]
            name = "Kathrin Polikeit (Kitty)"
            comment = "portraits"
        [/entry]
        [entry]
            name = "Shadow"
        [/entry]
        [entry]
            name = "Blarumyrran"
            comment = "story images"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_LIBERTY_CLASSIC

[binary_path]
    path=data/add-ons/Liberty_Classic
[/binary_path]

{~add-ons/Liberty_Classic/utils}
{~add-ons/Liberty_Classic/scenarios}

[+units]
    {~add-ons/Liberty_Classic/units}
[/units]

#endif

# wmllint: directory spelling Grey Relana Helicrom Fal Khag
